<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="admin, dashboard" />
<meta name="author" content="DexignZone" />
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CRM SHOP</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
<link href="~/css/jqvmap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/chartist.min.css">
<link href="~/css/bootstrap-select.min.css" rel="stylesheet">
<link href="~/css/owl.carousel.css" rel="stylesheet">
<!-- Calendar -->
<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/@@fullcalendar/core@4.2.0/main.min.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@@fullcalendar/daygrid@4.3.0/main.min.css'>
<link rel="stylesheet" href="~/css/calendar.css">
<!-- Calendar -->
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/custom.css" rel="stylesheet">
 <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
<style>
.flsh {
margin-right: 0.5rem;
font-size: 10px;
position: relative;
top: -2px;
color: #92d205;
}
</style>
</head>

<body>

<!--*******************
Preloader start
********************-->
<div id="preloader">
<div class="sk-three-bounce">
<div class="sk-child sk-bounce1"></div>
<div class="sk-child sk-bounce2"></div>
<div class="sk-child sk-bounce3"></div>
</div>
</div>
<!--*******************
Preloader end
********************-->
<!--**********************************
Main wrapper start
***********************************-->
<div id="main-wrapper">
<div class="Pharma5">

<!--**********************************
        Nav header start
    ***********************************-->
<div class="nav-header">
    <a href="index.html" class="brand-logo">
        <img src="~/images/logo/logo.png" width="250"
                alt="" />
    </a>
    <div class="nav-control">
        <div class="hamburger"> <span class="line"></span><span class="line"></span><span class="line"></span> </div>
    </div>
</div>
<!--**********************************
        Nav header end
    ***********************************-->
<!--**********************************
        Header start
    ***********************************-->
<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                </div>
                <ul class="navbar-nav header-right">

                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link  ai-icon" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="flaticon-381-ring"></i>
                            <div class="pulse-css"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3" style="height:380px;">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="media me-2 media-info">
                                                AS
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Lorem ipsum dolor</h6>
                                                <small class="d-block">06 Jan 2023 - 10:26</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="media me-2 media-info">
                                                KG
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Lorem ipsum dolor sit amrt</h6>
                                                <small class="d-block">06 Jan 2020 - 15:26</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="media me-2 media-info">
                                                BA
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Lorem ipsum dolor sit</h6>
                                                <small class="d-block">05 Jan 2020 - 12:26</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="media me-2 media-info">
                                                IN
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Lorem ipsum dolor</h6>
                                                <small class="d-block">04 Jan 2020 - 13:26</small>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <a class="all-notification" href="#">
                                Voir toutes les notifications <i class="ti-arrow-right"></i>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
                            <img src="~/images/profile/pic1.jpg" width="20" alt="" />
                            <div class="header-info">
                                <span>PharmaShop</span>
                                <small>Admin</small>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#0" class="dropdown-item ai-icon">
                                <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18"
                                        height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                <span class="ms-2">Profile </span>
                            </a>

                            <a href="#0" class="dropdown-item ai-icon">
                                <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18"
                                        height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>
                                <span class="ms-2">Se déconnecter </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--**********************************
        Header end ti-comment-alt
    ***********************************-->
<!--**********************************
        Sidebar start
    ***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i> <span class="nav-text">Gestion des données remontées</span>
                </a>
                <ul class="mm-collapse" aria-expanded="false">
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">Gestions des visites</a>
                        <ul aria-expanded="false" class="mm-collapse ss-collapse">
                            <li><a asp-action="planificationDesVisites" asp-controller="Viste">Planification des visites</a></li>
                            <li><a asp-action="Visites" asp-controller="Viste">Visites </a></li>
                        </ul>
                    </li>

            </li>


            <li><a href="#0"> Analyse et évaluation</a></li>
        </ul>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-pharma-transparency"></i> <span class="nav-text">Gestion des produits PLV</span>
            </a>
            <ul class="mm-collapse" aria-expanded="false">
                <li><a href="#0"> Affectation des dotations</a></li>
                <li><a href="#0"> Suivi des consommations des dotations</a></li>
            </ul>
        </li>
        <li>
            <a href="tableau de bord.html" class="ai-icon" aria-expanded="false">
                <i class="flaticon-pharma-statistics"></i>
                <span class="nav-text">Tableau de Bord</span>
            </a>
        </li>
        <li>
            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-pharma-settings-2"></i> <span class="nav-text">Sécurité</span>
            </a>
            <ul class="mm-collapse" aria-expanded="false">
                <li><a href="#0"> Gestion des rôles</a></li>
                <li><a href="#0"> Gestion des utilisateurs</a></li>
            </ul>
        </li>
        </ul>


    </div>
</div>
            @RenderBody()
<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
    <div class="copyright">
        <p>
            Copyright © Designed &amp; Developed by <a href="http://alexsys.ma/" target="_blank">
                Alexsys
                solutions
            </a>
            2023
        </p>
    </div>
</div>
<!--**********************************
                Footer end
            ***********************************-->
</div>
</div>
<!--**********************************
Scripts
***********************************-->
<!-- Required vendors -->
<script src="~/js/global.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<script src="~/js/bootstrap-select.min.js"></script>

<!-- Chart piety plugin files -->
<script src="~/js/jquery.peity.min.js"></script>

<!-- Apex Chart -->
<script src="~/js/apexchart.js"></script>
<!-- Chart ChartJS plugin files -->
<script src="~/js/Chart.bundle.min.js"></script>
<script src="~/js/chartjs-init.js"></script>

<!-- Chart Chartist plugin files -->
<script src="~/js/chartist.min.js"></script>
<script src="~/js/chartist-plugin-tooltip.min.js"></script>
<script src="~/js/chartist-init.js"></script>

<!-- Dashboard 1 -->
<script src="~/js/my-wallet.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script src="~/js/custom.min.js"></script>
<script src="~/js/deznav-init.js"></script>
<script src="~/js/demo.js"></script>
<!--<script src="js/styleSwitcher.js"></script>-->
<!-- Calendar -->
<script src='https://cdn.jsdelivr.net/npm/@@fullcalendar/core@4.2.0/main.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@@fullcalendar/daygrid@4.2.0/main.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@@fullcalendar/interaction@4.2.0/main.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chroma-js@2.1.2/chroma.min.js"></script>
<script src="~/js/sweetalert2.all.min.js"></script>
<script src="~/js/SweetAlert.js"></script>

 @*<script>
         const Toast = Swal.mixin({
             toast: true,
             position: 'top-end',
             showConfirmButton: false,
             timer: 3000,
             timerProgressBar: true,
             didOpen: (toast) => {
                 toast.addEventListener('mouseenter', Swal.stopTimer)
                 toast.addEventListener('mouseleave', Swal.resumeTimer)
             }
         })
    </script>*@
@*<script src="~/js/calendar.js"></script>*@
<!-- Calendar -->
<script>
jQuery('.cards-slider').owlCarousel({
loop: false,
margin: 30,
nav: true,
rtl: (getUrlParams('dir') == 'rtl') ? true : false,
autoWidth: true,
//rtl:true,
dots: false,
navText: ['', ''],
});
</script>

<script>
function Slider() {
const carouselSlides = document.querySelectorAll('.slide');
const btnPrev = document.querySelector('.prev');
const btnNext = document.querySelector('.next');
const dotsSlide = document.querySelector('.dots-container');
let currentSlide = 0;

const activeDot = function (slide) {
    document.querySelectorAll('.dot').forEach(dot => dot.classList.remove('active'));
    document.querySelector(`.dot[data-slide="${slide}"]`).classList.add('active');
};
activeDot(currentSlide);

const changeSlide = function (slides) {
    carouselSlides.forEach((slide, index) => (slide.style.transform = `translateX(${100 * (index - slides)}%)`));
};
changeSlide(currentSlide);

btnNext.addEventListener('click', function () {
    currentSlide++;
    if (carouselSlides.length - 1 < currentSlide) {
        currentSlide = 0;
    };
    changeSlide(currentSlide);
    activeDot(currentSlide);
});
btnPrev.addEventListener('click', function () {
    currentSlide--;
    if (0 >= currentSlide) {
        currentSlide = 0;
    };
    changeSlide(currentSlide);
    activeDot(currentSlide);
});

dotsSlide.addEventListener('click', function (e) {
    if (e.target.classList.contains('dot')) {
        const slide = e.target.dataset.slide;
        changeSlide(slide);
        activeDot(slide);
    }
});
};
Slider();
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
