@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM SHOP</title>
    <link rel="stylesheet" href="~/css/login.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">

</head>

<body class="login">
    <section class="Login">

        <form action="#0">
            <img class="spry" src="~/images/login-img.svg" width="140px">

            <input type="text" placeholder="Email">
            <input type="password" placeholder="Mot de passe">
            <div class="forget">
                <a href="#" target="_blank" rel="noopener">Mot de passe oublé ?</a>
            </div>
            <a  class="button">S'identifier</a>


        </form>

    </section>



</body>

</html>
